<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Sobre</ion-title>
        <ion-icon name="game-controller" slot="start" size="large" class="ion-margin-start" color="success"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore distinctio saepe, aut recusandae nemo quasi dignissimos velit libero in aliquid tenetur reiciendis at eligendi sequi dolor explicabo, ullam officiis molestiae.
    </p>

</ion-content>