<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Conteúdo</ion-title>

    <ion-thumbnail class="ion-margin-end" slot="end" *ngIf="auth.user | async as user">
      <img routerLink="/user/profile" src="{{ user.photoURL }}" alt="{{ user.displayName }}">
    </ion-thumbnail>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <p>À partir daqui, entra o conteúdo específico da aplicação.</p>

</ion-content>
