<ion-content fullscreen class="ion-padding">
  <ion-slides>

    <ion-slide>
      <div>
        <ion-img src="assets/slide-2.png"></ion-img>
        <h2>Para que Serve</h2>
        <p>Este aplicativo faz alguma coisa que serve para algo.</p>
        <p>Será divertido fazer alguma coisa!</p>
        <p>Logue-se para fazer a tal alguma coisa.</p>
        <ion-button expand="block" routerLink="/user/login">Entrar / Login</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <ion-img src="assets/slide-3.png"></ion-img>
        <h2>Como Fazer</h2>
        <p>Este aplicativo faz alguma coisa que serve para algo.</p>
        <p>Será divertido fazer alguma coisa!</p>
        <p>Logue-se para fazer a tal alguma coisa.</p>
        <ion-button expand="block" routerLink="/user/login">Entrar / Login</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <ion-img src="assets/slide-4.png"></ion-img>
        <h2>Para Quem Serve</h2>
        <p>Este aplicativo faz alguma coisa que serve para algo.</p>
        <p>Será divertido fazer alguma coisa!</p>
        <p>Logue-se para fazer a tal alguma coisa.</p>
        <ion-button expand="block" routerLink="/user/login">Entrar / Login</ion-button>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>