<ion-header>
  <ion-toolbar>
    <ion-title>Entrar / Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-icon class="icon" name="log-in-outline"></ion-icon>
  </div>

  <p>Logue-se usando uma conta do Google (Gmail, Youtube, etc.) para usar os recursos do aplicativo.</p>

  <ion-button expand="block" (click)="login()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Entrar com o Google
  </ion-button>

</ion-content>